@using NopPlus.Plugin.InfiniteScroll;

<li class="infinitscroll-link">
    <a href="@Url.RouteUrl(PluginDefaults.InfiniteScrollPageRoute)">
        @T("NopPlus.Plugin.InfiniteScroll.LinkTitle")
    </a>
</li>

<script asp-location="Footer">
    $(document).ready(function () {
        $(".header-menu .notmobile").append($(".infinitscroll-link"))
        $(".header-menu .mobile").append($('.infinitscroll-link').clone());
    });
</script>
