<li class="nav-item">
    <a href="@Url.RouteUrl("Plugin.Misc.InfiniteScroll.AllProducts")" class="nav-link"><i class="fal fa-star" style="color:hotpink;"></i>@T("Plugin.Misc.InfiniteScroll.LinkTitle")</a>
</li>
