@using NopPlus.Plugin.InfiniteScroll;
<li class="nav-item">
    <a href="@Url.RouteUrl(PluginDefaults.InfiniteScrollPageRoute)" class="nav-link">
        <i class="fal fa-star" style="color:hotpink;"></i>@T("NopPlus.Plugin.InfiniteScroll.LinkTitle")
    </a>
</li>
