@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    NopHtml.AddTitleParts(T("NopPlus.Plugin.InfiniteScroll.PageTitle").Text);
    //meta
    //Html.AddMetaDescriptionParts(Model.MetaDescription);
    //Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    NopHtml.AppendPageCssClassParts("html-category-page");

    NopHtml.AddCssFileParts("~/Plugins/NopPlus.InfiniteScroll/Content/infinitescroll.min.css");

    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopPlus.InfiniteScroll/Content/infinite-scroll.pkgd.min.js", excludeFromBundle: true);
}

<div class="page category-page">
    <header>
        <h1 class="page-title"><span>@T("Plugin.Misc.InfiniteScroll.PageTitle")</span></h1>
    </header>
    <div class="page-body">
        <section class="product-grid" data-ajaxfilter="products">
            <ul class="item-grid row"></ul>
            <div class="pagination">
                <a class="pagination__next" href="/InfiniteScroll/LoadProducts?page=1"></a>
            </div>
        </section>
        <!-- status elements -->
        <div class="scroller-status">
            <div class="infinite-scroll-request loader-ellips text-center">
                @*<img src="/Themes/Bootstrap4/Content/images/loading-large.gif" />*@
                <img src="/css/admin/images/ajax-loading.gif" />
            </div>
            <p class="infinite-scroll-last" style="display:none;">@T("NopPlus.Plugin.InfiniteScroll.ContentEnd")</p>
            <p class="infinite-scroll-error" style="display:none;">@T("NopPlus.Plugin.InfiniteScroll.ContentError")</p>
        </div>
    </div>
</div>

<script>
    $('.item-grid').infiniteScroll({
        // options
        path: '.pagination__next',
        append: '.item-box',
        status: '.scroller-status',
        hideNav: '.pagination',
        history: false,
        prefill: true,
        scrollThreshold: 300,
    });
</script>

